doctype html
html
    head 
        title Categories
    body
        form(action="/categories" method="POST")
            input(type="text" name="title" placeholder= "titulo de la categoria")
            input(type="color" name="color")
            input(type="submit", value="Guardar")
